body {
  font-family: sans-serif;
  background-image: url('assets/carpet.jpg');
  background-size: 100%;"
}
.title {
  text-align: center;
  color: #F8F8FF;
}
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
#table {
  background-image: url("assets/felt.png");
  margin: auto;
  max-width: 600px;
  text-align: center;
  border-radius: 40px;
  border: 10px solid #222;
}
.message-div {
  position: relative;
  height: 40px;
  line-height: 40px;
}
#messages {
  text-align: center;
  color: #F8F8FF;
  margin: 0;
}
.points {
  position: absolute;
  float: right;
  padding-left: 10px;
}
.card {
  margin-top: 3%;
}
label {
  color: #F8F8FF;
  font-size: 1.5em;
}
.buttons {
  margin: auto;
  text-align: center;
  display: inline-block;

}
button {
  height: 40px;
  margin-right: 5px;
  border-radius: 5px;
  width: 55px;
  font-size: .75em;
  float: left;
  cursor: pointer;
  transition: 0.3s;
}
button:hover:enabled {
  background-color: #111;
  color: #fff;
  border-color: #000;
  transition: 0.3s;
}
button:focus {
  outline: none;
}

#dealer-hand, #player-hand{
  text-align: center;
  height: 120px;
  width: 95%;
  margin: auto;
}
img {
  height: 65px;
  float: left;
  margin-left: 2%;
}
.hand img {
  margin: 2% 2% 2% 0;
}
.cactus {
  float: right;
  position: absolute;
  right: 30px;
  top: 146px;
}

/*************************
      MEDIA QUERIES
*************************/
@media screen and (min-width: 450px) {
  .hand img {
    height: 83px;
  }
}
@media screen and (min-width: 575px) {
  .hand img {
    height: 100px;
    float: left;
    /*margin: 2% 2% 2% 0;*/
  }
  label {
    font-size: 2em;
  }
  #dealer-hand, #player-hand{
    margin: auto;
    margin-bottom: 15px;
  }
  .message-div {
    height: 60px;
    line-height: 60px;
  }
  #messages {
    font-size: 1.5em;
  }
  button {
    font-size: 1.1em;
    width: 85px;
    height: 66px;
    background-color: ;
  }
  #table {
    border-radius: 68px;
    border: 30px solid #111;
  }
  .cactus-div {
    position: relative;
  }
  .cactus {
    height: 120px;
    top: -50px;
    right: 20px;
  }
}
